#*Fondo E AFP Hábitat*

In [2]:
import pandas as pd

##*Valor cuota AFP Hábitat año 2000*

In [5]:
# Especifica el rango de filas a leer
start_row = 4
end_row = 311
num_rows = end_row - start_row

# Lee el archivo CSV desde la línea 4 hasta la línea 311
Cuota_2000 = pd.read_csv('vcfE2000-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2000 = Cuota_2000.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2000.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'APORTA', 'Unnamed: 2', 'CUPRUM', 'HABITAT', 'Unnamed: 6', 'MAGISTER', 'Unnamed: 8', 'PLANVITAL', 'Unnamed: 10', 'PROVIDA', 'Unnamed: 12', 'SANTA MARIA', 'Unnamed: 14', 'SUMMA BANSANDER']
Cuota_2000 = Cuota_2000.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2000.columns = columnas
Cuota_2000 = Cuota_2000.drop(0)
print(Cuota_2000)

          Fecha     Cuota
1    2000-03-01  9.000,00
2    2000-03-02  9.000,00
3    2000-03-03  9.000,00
4    2000-03-04  9.000,00
5    2000-03-05  9.000,00
..          ...       ...
302  2000-12-27  9.843,75
303  2000-12-28  9.850,88
304  2000-12-29  9.857,12
305  2000-12-30  9.857,12
306  2000-12-31  9.857,12

[306 rows x 2 columns]

##*Valor cuota AFP Hábitat año 2001*

In [6]:

#Parte 1 año 2001

start_row = 315
end_row = 347
num_rows = end_row - start_row

Cuota_2001_1 = pd.read_csv('vcfE2000-2024.csv', sep = ";",  decimal = ",", skiprows=start_row - 1, nrows=num_rows)
Cuota_2001_1 = Cuota_2001_1.reset_index()      #Fecha está siendo considerada como un índice, por lo que debe volver a convertirse en una columna
# print(Cuota_2001_1.head(5))             #Se corrieron todas las columnas a la derecha, por lo tanto el valor de la cuota de hábitat se encuentra en "Unnamed: 4"
columnas_a_eliminar = ['Fecha', 'APORTA', 'Unnamed: 2', 'CUPRUM', 'HABITAT', 'Unnamed: 6', 'MAGISTER', 'Unnamed: 8', 'PLANVITAL', 'Unnamed: 10', 'PROVIDA', 'Unnamed: 12', 'SANTA MARIA', 'Unnamed: 14', 'SUMMA BANSANDER']
Cuota_2001_1 = Cuota_2001_1.drop(columnas_a_eliminar, axis = 1)
columnas = ['Fecha', 'Cuota']
Cuota_2001_1.columns = columnas
Cuota_2001_1 = Cuota_2001_1.drop(0)
print(Cuota_2001_1)

         Fecha      Cuota
1   2001-01-01   9.857,12
2   2001-01-02   9.873,44
3   2001-01-03   9.860,07
4   2001-01-04   9.877,18
5   2001-01-05   9.895,37
6   2001-01-06   9.895,37
7   2001-01-07   9.895,37
8   2001-01-08   9.920,48
9   2001-01-09   9.909,29
10  2001-01-10   9.952,07
11  2001-01-11   9.955,35
12  2001-01-12   9.959,75
13  2001-01-13   9.959,75
14  2001-01-14   9.959,75
15  2001-01-15   9.948,31
16  2001-01-16   9.943,40
17  2001-01-17   9.907,00
18  2001-01-18   9.927,89
19  2001-01-19   9.983,95
20  2001-01-20   9.983,95
21  2001-01-21   9.983,95
22  2001-01-22   9.954,33
23  2001-01-23   9.972,96
24  2001-01-24   9.966,29
25  2001-01-25   9.987,61
26  2001-01-26  10.003,58
27  2001-01-27  10.003,58
28  2001-01-28  10.003,58
29  2001-01-29  10.019,12
30  2001-01-30  10.014,57
31  2001-01-31  10.009,90